.container {
    display: flex;
    justify-content: space-between;
  }
  .category {
    width: 20%;
    background-color: #f2f2f2;
  }
  .products {
    width: 60%;
    background-color: #fff;
  }
  .description {
    width: 20%;
    background-color: #f2f2f2;
  }